<div class="need-custom-zone inner-section">
    <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 d-flex1">
                <div class="need-custom-box need-icon col-sm-12 col-md-12 col-lg-3">
                  
                </div>
                  
                <div class="need-custom-box need-icon col-sm-12 col-md-12 col-lg-6"> 
                   <div class="custom-txt">
                      <h2>{{theme_settings.ufooter_heading}}</h2>
                      <p>{{theme_settings.ufooter_subheading}} <a href="tel:{{theme_settings.ufooter_phone}}"><span>{{theme_settings.ufooter_phone}}</span></a></p>
                   </div>
                </div>
                <div class="need-custom-box need-icon col-sm-12 col-md-12 col-lg-3">
                   <div class="custom-btn-box"><a href="{{theme_settings.ufooter_link}}" class="btn btn-primary yellow-bg">{{theme_settings.ufooter_text}}</a></div>
                </div>
             </div>
        </div>
    </div>
 </div>
 
