<div class="container-about-us-request-catalog-section">
   <div class="row-container row-container-1">
        <div class="column-content about-us-content">
            <h2 class="h2-mulish text-black">{{lang 'about-us-section.title'}}</h2>
            <span class="p-mulish text-black">
               {{lang 'about-us-section.description'}}
            </span>
            <a href="{{theme_settings.blurb_cta_link_1}}" class="button-white">{{theme_settings.blurb_cta_label_1}}</a>
        </div>
        <div class="column-w-image">
            <img data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/{{theme_settings.main_blurb_image_1}}" src="{{cdn 'img/loading.svg'}}" alt="church banners about us" class="lazyload about-us-homepage">
        </div>
   </div>
   <div class="row-container row-container-2">
        <div class="column-w-image">
            <img data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/{{theme_settings.main_blurb_image_2}}" src="{{cdn 'img/loading.svg'}}" alt="church banners request catalog image" class="lazyload request-catalog-homepage">
        </div>
        <div class="column-content request-catalog-content">
            <h2 class="h2-mulish text-black">{{theme_settings.blurbs_2_title}}</h2>
            <span class="p-mulish text-black">
                {{lang 'main_blurbs_2'}}
            </span>
            <a href="{{theme_settings.blurb_cta_link_2}}" class="button-white">{{theme_settings.blurb_cta_label_2}}</a>
        </div>
   </div>
</div>
