<div class="container-category-section">
    <div class="container-header-section">
        <h2 class="h2-mulish text-black">Categories</h2>
    </div>
    <div class="container-category-boxes">
        <div class="category-box">
            <img class="lazyload bg-category" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/{{theme_settings.category_background_image_link}}" alt="category background image | ChurchBanners">
            <div class="container-main-category-content">
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/rectangle-0.png?t=1724725949" alt="Church Banners Main Category Image">
                <span class="h4-mulish text-black">Church Banners</span>    
                <a href="/church-banners" class="category-link p-mulish bold text-black button-yellow contrast-yellow">View Category</a>
            </div>
        </div>
        <div class="category-box">
            <img class="lazyload bg-category" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/{{theme_settings.category_background_image_link}}" alt="category background image | ChurchBanners">
            <div class="container-main-category-content">
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/rectangle-1s.png?t=1724723519" alt="Church Banners Main Category Image">
                <span class="h4-mulish text-black">Feather Flags</span>    
                <a href="/feather-flags" class="category-link p-mulish bold text-black button-yellow contrast-yellow">View Category</a>
            </div>
        </div>
        <div class="category-box">
            <img class="lazyload bg-category" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/{{theme_settings.category_background_image_link}}" alt="category background image | ChurchBanners">
            <div class="container-main-category-content">
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/rectangle-2.png?t=1724723487" alt="Church Banners Main Category Image">
                <span class="h4-mulish text-black">Backdrop Banners</span>    
                <a href="/backdrop-banners" class="category-link p-mulish bold text-black button-yellow contrast-yellow">View Category</a>
            </div>
        </div>
        <div class="category-box">
            <img class="lazyload bg-category" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/{{theme_settings.category_background_image_link}}" alt="category background image | ChurchBanners">
            <div class="container-main-category-content">
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/rectangle-3.png?t=1724723489" alt="Church Banners Main Category Image">
                <span class="h4-mulish text-black">Light Pole Banners</span>    
                <a href="/lightpole-banners" class="category-link p-mulish bold text-black button-yellow contrast-yellow">View Category</a>
            </div>
        </div>
        <div class="category-box">
            <img class="lazyload bg-category" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/{{theme_settings.category_background_image_link}}" alt="category background image | ChurchBanners">
            <div class="container-main-category-content">
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/rectangle-4.png?t=1724723491" alt="Church Banners Main Category Image">
                <span class="h4-mulish text-black">Stands & Displays</span>    
                <a href="/stands-displays" class="category-link p-mulish bold text-black button-yellow contrast-yellow">View Category</a>
            </div>
        </div>
        <div class="category-box">
            <img class="lazyload bg-category" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/{{theme_settings.category_background_image_link}}" alt="category background image | ChurchBanners">
            <div class="container-main-category-content">
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/rectangle-5.png?t=1724723492" alt="Church Banners Main Category Image">
                <span class="h4-mulish text-black">Kids Ministry</span>    
                <a href="/kids-ministry" class="category-link p-mulish bold text-black button-yellow contrast-yellow">View Category</a>
            </div>
        </div>
        <div class="category-box">
            <img class="lazyload bg-category" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/{{theme_settings.category_background_image_link}}" alt="category background image | ChurchBanners">
            <div class="container-main-category-content">
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/rectangle-6.png?t=1724723494" alt="Church Banners Main Category Image">
                <span class="h4-mulish text-black">Outdoor Signs</span>    
                <a href="/outdoor-banner-solution" class="category-link p-mulish bold text-black button-yellow contrast-yellow">View Category</a>
            </div>
        </div>
        <div class="category-box">
            <img class="lazyload bg-category" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/{{theme_settings.category_background_image_link}}" alt="category background image | ChurchBanners">
            <div class="container-main-category-content">
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/rectangle-7.png?t=1724723495" alt="Church Banners Main Category Image">
                <span class="h4-mulish text-black">Customize</span>    
                <a href="/custom-banners" class="category-link p-mulish bold text-black button-yellow contrast-yellow">View Category</a>
            </div>
        </div>
        <div class="category-box">
            <img class="lazyload bg-category" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/{{theme_settings.category_background_image_link}}" alt="category background image | ChurchBanners">
            <div class="container-main-category-content">
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/rectangle-8.png?t=1724723496" alt="Church Banners Main Category Image">
                <span class="h4-mulish text-black">Directional Signs</span>    
                <a href="/directional-signs/" class="category-link p-mulish bold text-black button-yellow contrast-yellow">View Category</a>
            </div>
        </div>
        <div class="category-box">
            <img class="lazyload bg-category" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/{{theme_settings.category_background_image_link}}" alt="category background image | ChurchBanners">
            <div class="container-main-category-content">
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/rectangle-9.png?t=1724723497" alt="Church Banners Main Category Image">
                <span class="h4-mulish text-black">Popup Banners</span>    
                <a href="/retractable-banners/" class="category-link p-mulish bold text-black button-yellow contrast-yellow">View Category</a>
            </div>
        </div>
        <div class="category-box">
            <img class="lazyload bg-category" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/{{theme_settings.category_background_image_link}}" alt="category background image | ChurchBanners">
            <div class="container-main-category-content">
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/rectangle-10.png?t=1724723499" alt="Church Banners Main Category Image">
                <span class="h4-mulish text-black">Handheld Signs</span>    
                <a href="/handheld-signs/" class="category-link p-mulish bold text-black button-yellow contrast-yellow">View Category</a>
            </div>
        </div>
        <div class="category-box">
            <img class="lazyload bg-category" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/{{theme_settings.category_background_image_link}}" alt="category background image | ChurchBanners">
            <div class="container-main-category-content">
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/rectangle-11.png?t=1724723500" alt="Church Banners Main Category Image">
                <span class="h4-mulish text-black">Design Bundles</span>    
                <a href="/design-collections-1/" class="category-link p-mulish bold text-black button-yellow contrast-yellow">View Category</a>
            </div>
        </div>
    </div>
</div>
