<div class="container-custom-design-section">
    <img  src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/custom-design-background-image.jpg?t=1713496187" alt="custom design church banner bg" class="lazyload custom-design-background-image">
    <div class="main-content-custom-design">
            <div class="col-custom-design col-1-cd">
                    <h2 class="h2-mulish text-black">Need help with your design?</h2>
                    <p class="p-mulish text-black">Let our designers personalize your banner with custom text, colors or add your church's logo at no additional cost.
                        When it comes to banners, we can do almost anything to the stock designs you see online. Our team will take over and will send email proofs back to you within 24hrs or less!</p>
                    <a href="/contact-us" class="p-mulish text-black button-yellow contrast-yellow bold">Contact Us</a>
             </div>
            <div class="col-custom-design col-2-cd">
                <img src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/rectangle-1-5-.png?t=1717481404" alt="custom design image" class="lazyload main-custom-design-image">
            </div>
    </div>
</div>
