<div class="container-featured-section">
    <div class="container-header-section">
        <h2 class="h2-mulish text-black">{{theme_settings.featured_title}}</h2>
    </div>
    <div class="container-featured-boxes">
        <div class="featured-box">
            <img data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/{{theme_settings.featured_background_image_1}}" alt="featured banner churchbanners background" class="lazyload absolute-featured-bg">
            <div class="col-box box-content">
                <span class="p-mulish dark-yellow">{{theme_settings.featured_top_header_1}}</span>
                <span class="h4-mulish text-black">{{theme_settings.featured_main_title_1}}</span>
                <span class="p-mulish text-black">
                   {{theme_settings.featured_description_1}}
                </span>
                <a href="{{theme_settings.featured_link_1}}" class="p-mulish bold text-black contrast-yellow">
                    View category
                </a>
            </div>
            <div class="col-box">
                    <img data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/{{theme_settings.featured_main_image_1}}" src="{{cdn 'img/loading.svg'}}" alt="featured homepage churchbanners" class="lazyload">
            </div>
        </div>
        <div class="featured-box">
            <img data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/{{theme_settings.featured_background_image_2}}" alt="featured banner churchbanners background" class="lazyload absolute-featured-bg">
            <div class="col-box box-content">
                <span class="p-mulish dark-yellow">{{theme_settings.featured_top_header_2}}</span>
                <span class="h4-mulish text-black">{{theme_settings.featured_main_title_2}}</span>
                <span class="p-mulish text-black">
                    {{theme_settings.featured_description_2}}
                </span>
                <a href="{{theme_settings.featured_link_2}}" class="p-mulish bold text-black contrast-yellow">
                    View category
                </a>
            </div>
            <div class="col-box">
                    <img data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/{{theme_settings.featured_main_image_2}}" src="{{cdn 'img/loading.svg'}}" alt="featured homepage churchbanners" class="lazyload">
            </div>
        </div>
    </div>
</div>
