<div class="container-request-free-quote">
    <img src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/cta-section.jpg?t=1714370440" alt="churchbanner request for quote" class="lazyload background-image-rfq">
    <div class="main-content-rfq">
        <div class="rfq-image-1">
            <img src="{{cdn 'img/loading.svg'}}" class="lazyload" data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/img.png?t=1714372109" alt="church image 1 banner">
        </div>
         <div class="content-rfq">
            <h2 class="h2-mulish text-black">Request a Free Quote</h2>
            <span class="p-mulish text-black">When someone visits your church for the first time, what will be their first impression? Are they finding their way around your building without getting lost? Is your visual message clear and consistent throughout every banner/sign that is presented to them?</span>
            <div class="cta-rfq-container">
                <a href="#" class="button-white button-bg-white" style="border:none">Get a Free Quote</a>
                <a href="#" class="button-white">Contact Us</a>
            </div>
        </div>
         <div class="rfq-image-2">
            <img src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/img-1.png?t=1714372111"  class="lazyload" alt="churchbanner image 2">
         </div>
    </div>
</div>
