{{#if theme_settings.show_usp}}
{{!-- 
<div class="container-usp-section">
    <div class="container-header-section">
            <h2 class="h2-mulish text-black">{{!--lang 'usp-section.header-section.title' --}}</h2>
            <p class="p-mulish text-black">{{!--lang 'usp-section.header-section.description' --}}</p>
    </div>
    <div class="container-usp-boxes">
        {{#if theme_settings.show_usp_box_1}}
        <div class="col-box">
            <img data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/{{theme_settings.usp_icon_1}}" src="{{cdn 'img/loading.svg'}}" alt="Aa" class="lazyload">
             <h2 class="h4-mulish text-black">{{theme_settings.usp_title_1 --}}</h2>
             <p class="p-mulish text-black">{{!--lang 'usp_description_1' --}}</p>
        </div>
        {{/if}}
        <div class="col-box">
            <img data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/{{theme_settings.usp_icon_2}}" src="{{cdn 'img/loading.svg'}}" alt="Aa" class="lazyload">
             <h2 class="h4-mulish text-black">{{theme_settings.usp_title_2 --}}</h2>
             <p class="p-mulish text-black">{{!--lang 'usp_description_2' --}}</p>
        </div>
        <div class="col-box">
            <img data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/{{theme_settings.usp_icon_3}}" src="{{cdn 'img/loading.svg'}}" alt="Aa" class="lazyload">
             <h2 class="h4-mulish text-black">{{theme_settings.usp_title_3 --}}</h2>
             <p class="p-mulish text-black">{{!--lang 'usp_description_3' --}}</p>
        </div>
        <div class="col-box">
            <img data-src="https://cdn11.bigcommerce.com/s-cnam78/images/stencil/original/image-manager/{{theme_settings.usp_icon_4}}" src="{{cdn 'img/loading.svg'}}" alt="Aa" class="lazyload">
             <h2 class="h4-mulish text-black">{{theme_settings.usp_title_4 --}}</h2>
             <p class="p-mulish text-black">{{!--lang 'usp_description_4' --}}</p>
        </div>
    </div>
</div>
--}}
{{/if}}
