<section class="frequently-asked-questions">
    <h2 class="h2-titles">Frequently Asked Questions</h2>
    <!--<span class="fdesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at consectetur augue. Quisque rhoncus leo vel ligula consequat maximus.</span>-->
    <div class="frequently-container">
        <div class="custom-toggle-container">
            <span class="custom-toggle-title">Can the color or text be changed to any stock banner design? <span class="toggle-plus">+</span></span>
            <div class="custom-toggle-content">
                Yes, the colors and text of a banner can be customized, free of charge, to the extent that the file is editable. Our design team will make all the changes and email them over to you. Just put your request in the "artwork/ production" notes box and checkout. Afterwards it will be assigned to a design team member who will go back and forth with you on revisions until you love it!
            </div>
        </div>
        <div class="custom-toggle-container">
            <span class="custom-toggle-title">Can the background of a banner or sign design be changed? <span class="toggle-plus">+</span></span>
            <div class="custom-toggle-content">
                Yes, the background of both banners and signs can be customized, free of charge, to the extent that the file is editable. We can switch one background out for another and will send email proofs for approval before anything is ever printed.
            </div>
        </div>
        <div class="custom-toggle-container">
            <span class="custom-toggle-title">Is double sided available on all products? <span class="toggle-plus">+</span></span>
            <div class="custom-toggle-content">
                No, but it is available on these select products: sintra signs, yard signs, handheld signs, outdoor vinyl banners, light pole banners, tension displays, teardrop flags, and feather flags. All other products are single sided only.
            </div>
        </div>
        <div class="custom-toggle-container">
            <span class="custom-toggle-title">Which backdrop comes double sided? <span class="toggle-plus">+</span></span>
            <div class="custom-toggle-content">
                Our tension display is the only option for double sided. All other backdrop banners are single sided. Our most popular backdrop is the straight tension backdrop, followed by the velcro popup.
            </div>
        </div>
        <div class="custom-toggle-container">
            <span class="custom-toggle-title">Do feather flags come in other sizes on your website? <span class="toggle-plus">+</span></span>
            <div class="custom-toggle-content">
                No, we only carry a large 14ft feather flag which comes single or double sided and can be customized free of charge.
            </div>
        </div>
        <div class="custom-toggle-container">
            <span class="custom-toggle-title">Is shipping free on your site? <span class="toggle-plus">+</span></span>
            <div class="custom-toggle-content">
                Yes once you've reached a cart level amount of $100. We ship all of our banners and signs with FedEx and UPS ground services within the 48 US states. For Alaska and Hawaii we use FedEx Express. 
            </div>
        </div>
    </div>
</section>
